{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2nd page</title>
    <link rel="stylesheet" href="{% static '/bootstrap_5.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/leaflet/leaflet.css' %}">
    <!--draw plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
</head>
<body>
    
    <div class="container">

        <div class="row border" style="height: 575px;">

            <div  class="col-md-12" id="map_id"></div>

        </div>  

    </div>
    
</body>
<script type="text/javascript">
    var data1 = JSON.parse("{{data|escapejs}}");
</script>

<script src="{% static '/leaflet/leaflet.js' %}"></script>
<script src="{% static '/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static '/bootstrap_5.0/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.5.0/fetch.min.js"></script>

<script src="{% static '/leaflet/main.js' %}"></script>

</html>