<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1st page</title>

</head>
<body>
    <form action="any" method ="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type ='file' name = 'doc'>
        <button type = 'submit'>Submit</button>
        <br>
    </form>
    
</body>
</html>